
<table class="tx-nodedb2" >
	<tr>
		<td>
			<f:translate key="tx_nodedb2_domain_model_node.host_name" />
		</td>
		<td>
			{node.hostName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nodedb2_domain_model_node.location" />
		</td>
		<td>
			{node.location}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nodedb2_domain_model_node.latitude" />
		</td>
		<td>
			{node.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nodedb2_domain_model_node.longitude" />
		</td>
		<td>
			{node.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nodedb2_domain_model_node.last_seen" />
		</td>
		<td>
			{node.lastSeen -> f:format.date()}
		</td>
	</tr>
</table>